// Device tree overlay for https://kws-computer.de/produkte-2/bridgeth/base
// for details see ...
/dts-v1/;
/plugin/;

/ {
        compatible = "brcm,bcm2835";
        fragment@0 {
                target = <&gpio>;
                __overlay__ {

                        kwsscreen_pins: kwsscreen_pins {
                            brcm,pins = <6 22 4>;
                            brcm,function = <1 1 1>; /* out out out */
                        };

                        spi1_pins: spi1_pins {
                                brcm,pins = <19 20 21>;
                                brcm,function = <3>;
                        };

                        spi1_cs_pins: spi1_cs_pins {
                                brcm,pins = <18 17>;
                                brcm,function = <1>;
                        };

                        w5100_pins: w5100_pins {
                                brcm,pins = <24>;
                                brcm,function = <0>;
                                brcm,pull = <0>;
                        };

                        slb9673_pins: slb9673_pins {
                                brcm,pins = <23>;
                                brcm,function = <0>;
                                brcm,pull = <2>;
                        };
                };
        };

        fragment@1 {
                target = <&spi1>;
                __overlay__ {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        pinctrl-names = "default";
                        pinctrl-0 = <&spi1_pins &spi1_cs_pins>;
                        cs-gpios = <&gpio 18 1>, <&gpio 17 1>;
                        status = "okay";
                        adin1110@0 {
                                compatible = "adi,adin1110";
                                reg = <0>;
                                interrupt-parent = <&gpio>;
                                interrupts = <26 8>;
                                //spi-max-frequency = <25000000>;
                                adi,spi-crc;
                                mac-address = [00 11 22 33 44 55];
                                status = "okay";
                                phy@1 {
                                        compatible = "ethernet-phy-id0283.bc91";
                                        reg = <0x0>;
                                };
                        };
                        w5100: w5100@1 {
                                compatible = "wiznet,w5100";
                                reg = <1>;
                                pinctrl-names = "default";
                                pinctrl-0 = <&w5100_pins>;
                                interrupt-parent = <&gpio>;
                                interrupts = <24 0x8>;
                                //spi-max-frequency = <30000000>;
                                status = "okay";
                        };
                };
        };

        fragment@2 {
                target = <&i2c_arm>;
                __overlay__ {
                        status = "disabled";
                };
        };

        fragment@3 {
                target-path = "/";
                __overlay__ {
                        i2c-gpio@0 {
                                #address-cells = <1>;
                                #size-cells = <0>;
                                compatible = "i2c-gpio";
                                gpios = <&gpio 44 6>, <&gpio 45 6>;
                                clock-frequency = <400000>;
                                status = "okay";
                        };

                        i2c1: i2c-gpio@1 {
                                #address-cells = <1>;
                                #size-cells = <0>;
                                compatible = "i2c-gpio";
                                gpios = <&gpio 2 6>, <&gpio 3 6>;
                                clock-frequency = <400000>;
                                status = "okay";
                        };

                        i2c5: i2c-gpio@5 {
                                #address-cells = <1>;
                                #size-cells = <0>;
                                compatible = "i2c-gpio";
                                gpios = <&gpio 12 6>, <&gpio 13 6>;
                                clock-frequency = <400000>;
                                status = "okay";
                        };
                };
        };

        fragment@4 {
                target = <&i2c1>;
                __overlay__ {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        rv3028@54 {
                                compatible = "microcrystal,rv3028";
                                reg = <0x52>;
                                backup-switchover-mode = <3>;
                                trickle-resistor-ohms = <3000>;
                        };
                        lm75b@90 {
                                compatible = "national,lm75";
                                reg = <0x48>;
                                status = "okay";
                        };
                };
        };

        fragment@5 {
                target = <&i2c5>;
                __overlay__ {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        slb9673@2e {
                                compatible = "infineon,slb9673", "tcg,tpm-tis-i2c";
                                reg = <0x2e>;
                                pinctrl-names = "default";
                                pinctrl-0 = <&slb9673_pins>;
                                interrupt-parent = <&gpio>;
                                interrupts = <23 0>;
                                status = "okay";
                        };
                };
        };

        fragment@6 {
            target = <&spi0>;
            __overlay__ {
                status = "okay";
            };
        };

        fragment@7 {
            target = <&spidev0>;
            __overlay__ {
                status = "disabled";
            };
        };

        fragment@8 {
            target = <&spidev1>;
            __overlay__ {
                status = "disabled";
            };
        };

        fragment@9 {
        target = <&spi0>;
        frag1: __overlay__ {
            /* needed to avoid dtc warning */
            #address-cells = <1>;
            #size-cells = <0>;

            kwsscreen: kwsscreen@0{
                compatible = "ilitek,ili8688";
                reg = <0>;
                pinctrl-names = "default";
                pinctrl-0 = <&kwsscreen_pins>;
                spi-max-frequency = <50000000>;
                rotate = <0>;
                fps = <30>;
                buswidth = <8>;
                regwidth = <8>;
                bgr = <0>;
                bpp = <24>;
                reset-gpios = <&gpio 4 1>;
                dc-gpios = <&gpio 6 0>;
                im-gpios= <&gpio 22 0>;

                status = "okay";
            };
        };
    };

        __overrides__ {
                int_pin = <&w5100>, "interrupts:0", <&w5100_pins>, "brcm,pins:0";
                cs = <&w5100>, "reg:0", <0>, "!0=1";
                rotate =    <&kwsscreen>,"rotate:0";
                fps =       <&kwsscreen>,"fps:0";
                debug =     <&kwsscreen>,"debug:0";
        };
};